/*
 * Global
 */

blockquote {
  background: #eceff4;
  border-left-color: #e5e9f0;
}

pre code {
  border-left-color: $accentColor;
}

/*
 * Links
 */

.mainContainer a {
  color: $accentColor;
}

.mainContainer .button {
  background: transparent;
  border: 1px solid $primaryColor;
  color: $primaryColor;
}

.mainContainer .button:hover {
  background: $primaryColor;
  color: #eceff4;
}

/*
 * Header
 */

.fixedHeaderContainer .headerWrapper .logo {
  height: 50%;
}

/*
 * Docs Sidebar
 */

.docsNavContainer nav.toc .toggleNav .navGroup {
  background: #eceff4;
}

.docsNavContainer nav.toc .toggleNav .navGroup h3 {
  color: #eceff4;
}

.docsNavContainer nav.toc .toggleNav .navItem:hover {
  color: $accentColor;
}

.docsNavContainer nav.toc .toggleNav .navItem.navItemActive {
  color: $accentColor;
}

/*
 * Footer
 */

.footerSection {
  background: $primaryColor !important;
}

.footerSection .sitemap .nav-home {
  height: 80px;
  margin: 0px 20px 0 0;
  padding: 7px;
  width: 80px;
}

.footerSection .sitemap .nav-home img {
  transform-origin: left;
  transform: translate(50%, -50%) rotate(90deg);
}

@media only screen and (max-width: 736px) {
  .footerSection .sitemap div {
    margin: 0 0 20px 0;
  }

  .footerSection .sitemap .nav-home img {
    transform: translate(0, 50%);
  }
}

.footerSection .sitemap iframe {
  margin: 2px -10px;
  padding: 0px 10px;
}

/*
 * Home
 */

.homeContainer {
  background: $primaryColor;
}

.homeContainer .homeWrapper .projectTitle img {
  height: 100%;
  margin-bottom: 0.5em;
  max-height: 200px;
}

.homeContainer .homeWrapper .projectTitle small {
  color: $accentColor;
}

.homeContainer .homeWrapper .button {
  border-color: $accentColor;
  color: $accentColor;
}

.homeContainer .homeWrapper .button:hover {
  background: $accentColor;
  color: $primaryColor;
}

.homeContainer .homeWrapper .button.primary {
  background: $accentColor;
  color: $primaryColor;
}

.mainContainer .productShowcaseSection {
  background: #e5e9f0;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.mainContainer .productShowcaseSection.lightBackground {
  background: #eceff4;
}

.mainContainer .productShowcaseSection h2 {
  font-size: 30px;
  text-align: center;
}

/* Quick Start */

.quickStart ol {
  list-style: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em 0;
  text-align: left;
}

.quickStart ol li {
  margin-bottom: 42px;
}

.quickStart ol li::before {
  color: $accentColor;
  font-size: 42px;
  margin-right: 10px;
}

.quickStart ol li:nth-of-type(1)::before {
  content: '1.';
}
.quickStart ol li:nth-of-type(2)::before {
  content: '2.';
}
.quickStart ol li:nth-of-type(3)::before {
  content: '3.';
}

/* Sponsors */

.mainContainer ul.sponsors-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}
.mainContainer ul.sponsors-list li {
  list-style: none;
  margin: 5px;
}
.mainContainer .sponsors-list a,
.mainContainer .sponsors-list a:hover {
  background: none;
  border: none;
}
.mainContainer .sponsors-list img {
  max-height: 90px;
  max-width: 270px;
}
